.tasks_list {
  display: grid;
  grid-gap: 16px;
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 8px;
}

.empty_list {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  small {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
  }
}